.calender{
    max-width: 900px;
    width: 90%;
    margin-inline: auto;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 50px;
}
.datePicker{
    width: 70%;
}
.sidebar{
    width: 30%;
}

@media only screen and (max-width:965px){
    .calender{
        flex-direction: column-reverse;
    }
    .datePicker{
        width: 100%;
    }
    .sidebar{
        width: 100%;
    }

}