.datePicker{
    max-width: 900px;
    width: 90%;
    margin-inline: auto;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 50px;
}
.calender{
    width: 70%;
}
.monthPicker{
    width: 30%;
}